In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import psycopg2 as psy

In [8]:
def fetch_data(pg_conn, query):

    try:
        # Database connection
        connection = psy.connect(
            database = pg_conn['database'],
            user = pg_conn['user'],
            host = pg_conn['host'],
            password = pg_conn['password'],
            port = pg_conn['port']
        )

        # Open a cursor to perform database operations
        cursor = connection.cursor()

        # Execute command
        cursor.execute(query)

        rows = cursor.fetchall()

        # Make the changes persistents
        connection.commit()

        # Close cursor and connection
        cursor.close()
        connection.close()

        # Transform to DataFrame
        df = pd.DataFrame(rows)
        
    except Exception as err:
        print(err)

    return df

In [14]:
pg_conn = {
    'database': 'customers',
    'user': 'airflow',
    'host': '172.18.0.4',
    'password': 'airflow',
    'port': 5432
}

query = 'SELECT * FROM customers LIMIT 100'

df = fetch_data(pg_conn, query)

headers = ['customerid','surname','creditscore','geography','gender','age','tenure','balance','numofproducts','hascrcard','isactivemember','salary','exited']

df = df.set_axis(headers, axis = 1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerid      100 non-null    int64
 1   surname         100 non-null    object
 2   creditscore     100 non-null    object
 3   geography       100 non-null    object
 4   gender          100 non-null    object
 5   age             100 non-null    int64
 6   tenure          100 non-null    int64
 7   balance         100 non-null    int64
 8   numofproducts   100 non-null    int64
 9   hascrcard       100 non-null    int64
 10  isactivemember  100 non-null    int64
 11  salary          100 non-null    float64
 12  exited          100 non-null    int64
dtypes: float64(1), int64(8), object(4)
memory usage: 10.3+ KB

In [16]:
df.describe()

,customerid,age,tenure,balance,numofproducts,hascrcard,isactivemember,salary,exited
count,1.000000e+02,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.569311e+07,37.990000,5.200000,70569.800000,1.640000,0.640000,0.520000,103169.445200,0.200000
std,6.944254e+04,10.194567,2.994945,62472.288387,0.659354,0.482418,0.502117,55470.559933,0.402015
min,1.556898e+07,19.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1643.110000,0.000000
25%,1.563286e+07,31.750000,3.000000,0.000000,1.000000,0.000000,0.000000,62852.147500,0.000000
50%,1.570012e+07,36.500000,5.000000,84559.000000,2.000000,1.000000,1.000000,105481.725000,0.000000
75%,1.575494e+07,43.250000,8.000000,125285.750000,2.000000,1.000000,1.000000,147401.997500,0.000000
max,1.581252e+07,75.000000,10.000000,178718.000000,4.000000,1.000000,1.000000,198059.160000,1.000000